/* Created By David Zhan and Michael Liu for the TitanHacks 2020 Hackathon */
html {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #59c3b1; /* in case gradients not supported */
    background-image: linear-gradient(to top right, #59c3b1, #e7d093);
    background-attachment: fixed;
}


h1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

div#info {
    width: 60%;
    margin: auto;
}
div#info div#intro {
    width: fit-content;
    margin: auto;
}
div#info div#intro h3 {
    font-size: 23px;
}
div#info div#intro p {
    font-size: 18px;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}